.img-text,
.content-intro p {
  font-style: italic;
  margin-top: 0px;
}

.content-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.img-jenny {
  background-image: url(../images/jenny.jpg);
  height: 220px;
}

.content-block {
  margin: 40px 0px;
}

.content-block img {
  display: none;
}

.content-stripe {
  background-color: var(--color-tertiary);
  padding: 16px;
  font-style: italic;
  text-align: center;
}

.img-chefs-hat {
  background-image: url(../images/chefs-hat.png);
  display: none;
}

.content-block-recipe h3,
h4 {
  margin-top: 40px;
}

.recipe-block li {
  margin-bottom: 10px;
}

.img-salmon-bowl {
  background-image: url(../images/salmon-bowl-2.jpg);
  height: 320px;
}
