.button-filter {
  background-color: white;
  border: 1px solid var(--color-primary);
  width: 100%;
}

ul {
  list-style: none;
}

.filters {
  display: none;
}

.filters.show {
  display: block;
}

label {
  cursor: pointer;
}

.filters {
  width: 250px;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
  padding: 1.5em;
  position: absolute;
  background-color: white;
}
