.hero {
  background-image: url(../images/header-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero-text {
  padding-top: 1px;
  margin-right: 120px;
}

.section-latest-post {
  margin: 40px 0px;
}

.latest-posts {
  grid-template-columns: 1fr;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  min-height: 378px;
  margin-bottom: 40px;
}

.carousel-button-left,
.carousel-button-right {
  align-self: center;
  font-size: xx-large;
  background-color: transparent;
}
