.header-hero {
  background-image: url(../images/mobile-hero-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}

.header-button {
  background-color: #fb6e4a;
  border-radius: 100px;
  padding: 10px;
  height: 20px;
  text-transform: uppercase;
  text-decoration-line: none;
  color: black;
  font-family: var(--header-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.latest-posts {
  grid-template-columns: 1fr;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-button-left,
.carousel-button-right {
  align-self: center;
  font-size: xx-large;
  background-color: transparent;
}
