@media (min-width: 480px) {
  .content-intro {
    display: flex;
    align-items: flex-end;
  }

  .content-intro p {
    margin-left: 10px;
  }

  .header-button {
    max-width: 350px;
  }

  .img-jenny {
    height: 350px;
  }

  .img-salmon-bowl {
    height: 450px;
  }
}

@media (min-width: 800px) {
  header,
  main,
  .footer-section {
    max-width: 1000px;
    margin: auto;
  }

  .header-hero {
    background-image: url(../images/hero.jpg);
  }

  i.fas.fa-bars {
    display: none;
  }

  .nav-bar-menu {
    display: flex;
  }

  .menu-link {
    list-style-type: none;
  }

  .menu-link a {
    font-family: var(--header-font), "Times New Roman", Times, serif;
    font-size: 18px;
    text-decoration-line: none;
    color: black;
    text-transform: uppercase;
  }

  .header-content-text-web {
    display: block;
  }

  .img-jenny,
  .img-jenny-web,
  .img-chefs-hat {
    height: 500px;
  }

  .img-salmon-bowl {
    height: 750px;
  }

  .content-block-second {
    flex-direction: row-reverse;
  }

  .content-block img {
    display: block;
    max-width: 40%;
    height: fit-content;
  }

  .content-block-text {
    margin-right: 50px;
  }

  .img-chefs-hat {
    display: block;
  }

  .content-block {
    display: flex;
  }

  .recipe-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
