@media (min-width: 480px) {
  .hero-text {
    margin-bottom: 36vh;
  }
  .hero-text p {
    margin-right: 200px;
  }
  .button {
    max-width: 350px;
  }
}

@media (min-width: 800px) {
  .hero-text p {
    margin-right: 391px;
  }
}
