@import "imports/variables.css";
/*common-styles*/
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 32px;
  margin-top: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

main,
.header-content-text,
.footer-section,
.header-content,
.footer-section {
  padding: 0px 10px;
}

/*header*/
.header-sticky {
  background-color: white;
  position: sticky;
  top: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}

.nav-bar-menu {
  display: none;
  margin: 0px;
}

.menu-link:first-child,
.menu-link:nth-child(2) {
  margin-right: 83px;
}

.logo {
  height: 50px;
}

/*content-block*/
.content-block {
  margin: 40px 0px;
}

.content-img {
  width: 100%;
}

/*form*/
input,
textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid black;
  font-family: "Open Sans", sans-serif;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.formMessage {
  background: green;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

button {
  border-radius: 100px;
  border: none;
  padding: 16px;
  height: 20px;
  text-transform: uppercase;
  font-family: var(--header-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.fa-chevron-right,
.fa-plus {
  margin-left: 40px;
  margin-right: 0px;
}

.avoid-sticky-header {
  scroll-margin-top: 70px;
}

/*footer*/
footer {
  background-color: var(--color-quinary);
  position: absolute;
  width: 100%;
}

.footer-navigate {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.footer-some i {
  font-size: x-large;
  margin-right: 10px;
}

.footer-copyright {
  font-weight: 100;
  text-align: center;
}

.footer-copyright p {
  padding-bottom: 10px;
}
