@import "imports/variables.css";

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.nav-bar-menu {
  display: none;
  margin: 0px;
}

.menu-link:first-child,
.menu-link:nth-child(2) {
  margin-right: 83px;
}

.logo {
  height: 50px;
}

.fa-chevron-right {
  margin: 10px;
}

main,
.footer-section,
.header-content {
  margin: 10px;
}

footer {
  background-color: var(--color-quinary);
}

.footer-navigate {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: black;
  font-style: normal;
  margin-bottom: 10px;
}

.footer-some i {
  font-size: x-large;
  margin-right: 10px;
}
