@import "imports/variables.css";

body {
  font-family: var(--body-font), Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
}

h1 {
  font-family: var(--header-font), "Times New Roman", Times, serif;
  font-size: 32px;
  margin: 0px;
}

h2 {
  font-family: var(--header-font), "Times New Roman", Times, serif;
  font-size: 26px;
  padding: 20px 10px;
}

h3 {
  font-family: var(--header-font), "Times New Roman", Times, serif;
  font-size: 22px;
  margin: 0px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.nav-bar-menu {
  display: none;
  margin: 0px;
}

.menu-link:first-child,
.menu-link:nth-child(2) {
  margin-right: 83px;
}

.logo {
  height: 50px;
}

.fa-chevron-right {
  margin: 10px;
}

main {
  max-width: 1000px;
  margin: auto;
}
