nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

.nav-ul {
  display: none;
  width: 100%;
  flex-direction: column;
}

.nav-ul.show {
  display: flex;
}
